.github/**
.vscode/**
.vscode-test/**
release-please-config.json
.release-please-manifest.json
src/**
test/**
out/**
tasks/**
node_modules/**
**/*.map
**/*.ts
esbuild.js
eslint.config.mjs
vitest.config.mts
.vscode-test.mjs
tsconfig.json
pnpm-lock.yaml
pnpm-workspace.yaml
.nvmrc
.gitignore
